.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
  }
  
  .card-row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    
  }
  
  .card-col {
    margin-bottom: 1rem;
    padding: 0 0.5rem;
    
  }

  .wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 16rem));
    gap:2rem;
    justify-content: center;
    box-shadow: 0 2px 20px rgb(193, 186, 186);
    flex-direction: column;
  }

  .button{
    border: 2px solid red;
    color: black;
  }