
.dashboard-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 40px;
}

.dashboard-container{
  /*display: flex;*/
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 125vh;
  padding-top: 50px;
}

input[type="text"] {
  padding: 8px;
  border: none;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  width: 200px;
  margin-right: 10px;
}

.button-3 {
  background-color: #84E3C3;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 8px 16px;
  cursor: pointer;
}

.button-3:hover {
  background-color: #67b69c;
}

.weather-list {
  background-color: #D4E384;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 70rem;
  height: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: black;
  margin-top: 2;
}

.weather-list h2,
.weather-list p {
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
  font-weight: bold;
}

.weather-list p {
  font-size: 1.2rem;
  font-weight: normal;
}

.select-weather-condition {
  padding: 8px;
  border: none;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  width: 200px;
  margin-right: 10px;
  font-size: 1.2rem;
  color: #333;
  margin-left: 10px;
}