.form-container {
    display: flex;
    max-width: 800px;
    margin: auto;
  }

.radiobtn-container {
    text-align: left;
}

.input-container {
    max-width: 260px;
    height: 100%;
    background: linear-gradient(to right bottom, rgba(165, 80, 80, 0.3), rgba(255, 255, 255, 0.2));
    border-radius: 5px;
    z-index: 3;
    backdrop-filter: blur(0.75rem);
    padding: 2rem;
    margin: 0 auto;
}

