#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.read-the-docs {
  color: #888;
}

.route-container {
  margin-left: 200px;
  flex-grow: 1;
  max-width: 800px;
  margin: auto;
}
